<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/static/js/jquery-2.1.1.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/MyJS/bs-index.js}"></script><!--自定义js函数-->
</head>
<body class="">
<header>
    <!--橙色分割线-->
    <hr class="layui-bg-orange">
</header>
<!--弹出层表单-->
<div id="add-form-div1" style="display: block">
    <form class="layui-form" id="add-form" action="" lay-filter="test2">
        <div class="layui-form-item center">
            <label class="layui-form-label" style="width: 100px">产品名称</label>
            <div class="layui-input-block">
                <input type="text" id="productName" name="productName" required value="" style="width: 240px" lay-verify="required"
                       placeholder="产品名称" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: 100px">产品副标题</label>
            <div class="layui-input-block">
                <input type="text" id="productSubTitle" name="productSubTitle" required value="" style="width: 240px" lay-verify="required"
                       placeholder="产品副标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">产品原价</label>
            <div class="layui-input-block">
                <input type="number" id="originalPrice" name="originalPrice" required style="width: 240px" lay-verify="required|number"
                       placeholder="产品原价"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: 100px">优惠价格</label>
            <div class="layui-input-block">
                <input type="number" id="promotePrice" name="promotePrice" required style="width: 240px" lay-verify="required|number"
                       placeholder="优惠价格"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">库存 </label>
            <div class="layui-input-block">
                <input type="number" id="stock" name="stock" required style="width: 240px" lay-verify="required|number"
                       placeholder="库存"
                       autocomplete="off" class="layui-input">
                <!-- <input type="hidden" name="id" style="width: 240px" autocomplete="off" class="layui-input"> -->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">分类</label>
            <div class="layui-input-inline">
                <select id="category" name="category" lay-verify="required">
                    <option value="">请选择..</option>
                </select>
                <!--&lt;!&ndash; <input type="hidden" name="id" style="width: 240px" autocomplete="off" class="layui-input"> &ndash;&gt;-->
            </div>
        </div>

        <hr class="layui-bg-orange"/>
        <!--<div class="layui-form-item" align="right" style="padding-top: 20px;padding-right: 20px">-->
            <!--<div class="layui-input-block">-->
                <!--&lt;!&ndash;<button  id="uploadAction" class="layui-btn layui-btn-warm" lay-submit lay-filter="saveImg" lay-event="saveImg">上传并提交</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="reset" class="layui-btn layui-btn-primary" id="resetBtnOnTable1">重置</button>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    </form>
    <div class="layui-form-item" align="right" style="padding-top: 20px;padding-right: 20px">
        <div class="layui-input-block">
            <button  id="uploadAction" class="layui-btn layui-btn-warm" lay-submit lay-filter="saveImg" lay-event="saveImg">上传并提交</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary" id="resetBtnOnTable1">重置</button>-->
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend id="yulanLab">预览图片上传</legend>
    </fieldset>
    <div class="layui-upload" style="padding:10px">

        <button type="button" class="layui-btn layui-btn-radius ayui-btn-normal" id="multiImgBtn" onmouseout="closeImgTips()" onmouseover="showAddImgBtnTips()">添加预览图片</button>
        <!--<button type="button" class="layui-btn layui-btn-radius" id="testListAction">开始上传</button>-->
        <div class="layui-upload-list">
            <table class="layui-table" id="table-add-image">
                <thead>
                <tr>
                    <th id="th1">文件名</th>
                    <th>预览</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="multiImgList"></tbody>

            </table>
        </div>
    </div>
</div>
<!---->
<script type="text/javascript">
    layui.use(['form'],function () {
        var form = layui.form;
        $.ajax({
            type: 'post',
            url: '/category/all',
            success: function (res) {
                var select = $('#category');
                for (var i=0;i<res.data.length;i++) {
                    select.append('<option value="'+res.data[i].categoryId+'">'+res.data[i].categoryName+'</option>');
                }
                form.render();
            }
        });
    });
</script>
</body>
</html>