<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2019. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.webshop.dao.OrderMapper">
    <insert id="insert" parameterType="order" useGeneratedKeys="true">
        insert into t_order(orderCode,address,post,receiver,phone,userMessage,createDate,uid,status,deliver)
        values(#{orderCode} ,#{address} ,#{post} ,#{receiver} ,#{phone} ,#{userMessage} ,#{createDate} ,#{uid}
        ,#{status} ,#{deliver} )
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="orderId">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="order">

    </update>

    <delete id="delete_by_orderId" parameterType="integer">
        delete from t_order where orderId=#{orderId}
    </delete>

    <resultMap id="orderResultList" type="order">
        <id column="order_id" property="orderId"></id>
        <result property="post" column="post"></result>
        <result property="receiver" column="receiver"></result>
        <result property="phone" column="phone"></result>
        <result property="userMessage" column="user_message"></result>
        <result column="create_date" property="createDate"></result>
        <result property="payDate" column="pay_date"></result>
        <result property="deliveryDate" column="delivery_date"></result>
        <result property="confirmDate" column="confirm_date"></result>
        <result property="uid" column="uid"></result>
        <result property="status" column="status"></result>
        <association property="user" select="com.github.webshop.dao.UserMapper.find_by_id" column="uid"
                     javaType="user"></association>
    </resultMap>

    <select id="find_by_orderId" parameterType="integer" resultMap="orderResultList">
        select * from t_order where orderId={orderId}
    </select>

    <select id="find_all" resultType="map">
        select * from v_orderdetail order by ordercreateDate desc
    </select>
    <select id="find_all_by_user_id" resultType="order">
        select * from t_order where uid=#{uid}
    </select>
    <select id="find_one_by_orderId_and_userId" resultType="com.github.webshop.pojo.Order">
        select * from t_order where orderId=#{orderId} and uid=#{userId}
    </select>
    <select id="find_one_by_id" resultType="com.github.webshop.pojo.Order">
      select * from t_order where orderId=#{orderId}
    </select>
    <update id="update_status" parameterType="integer">
        update t_order
        <set>
            status=#{statusValue}
        </set>
        where orderId=#{orderId}
    </update>
    <select id="find_all_by_status_pagination" resultType="map">
select * from v_orderdetail where status=#{status} limit ${start} ,${limit}
    </select>
    <select id="find_all_by_deliver_pagination" resultType="map">
select * from v_orderdetail where deliver=#{deliver}  limit ${start} ,${limit}
    </select>
    <update id="update_paydate">
update t_order set payDate=#{paydate} where orderId=#{orderId}
    </update>
    <update id="update_deliveryDate">
update t_order set deliveryDate=#{deliveryDate} where orderId=#{orderId}
    </update>
    <update id="update_confirmDate">
update t_order set confirmDate=#{confirmData}  where orderId=#{orderId}
    </update>
    <select id="row_count" resultType="java.lang.Integer">
select count(*) from t_order
    </select>
    <select id="row_count_of_status" resultType="java.lang.Integer">
select count(*) from t_order where status=#{status}
    </select>
    <select id="row_count_of_deliver" resultType="java.lang.Integer">
select count(*) from t_order where deliver=#{deliver}
    </select>
    <update id="update_deliver">
        update t_order
        <set>
            deliver=#{deliverValue}
        </set>
        where orderId=#{orderId}
    </update>
    <select id="find_all_by_status_and_deliver_pagination" resultType="map">
select * from v_orderdetail where status=#{status} and deliver=#{deliver} limit ${start} ,${limit}
    </select>
    <select id="row_count_of_status_deliver" resultType="java.lang.Integer">
select count(*) from v_orderdetail where status=#{status} and deliver=#{deliver}
    </select>
</mapper>