<!--
  ~ Copyright © github@garin197 五邑大学
  -->









































<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一点购物-更多好货尽在一点购物</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery-2.1.1.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}" charset="UTF-8"></script>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/static/js/MyJS/searchCategoryResult.js}" charset="UTF-8"></script>
</head>
<body onload="f()">
<nav class="" style="overflow: hidden;line-height: 36px;max-height: 36px;background-color: #dbe0dc">
    <span style="padding: 5px 10px 5px 0"><a th:href="@{/page}">一点购物首页</a></span>
    <span style="padding: 5px 10px 5px 0">欢迎来到一点购物</span>
    <span style="padding: 5px 10px 5px 10px">
        <a id="login-username-span" href="/user/login#tologin" th:text="${session.currentUserName}">请登录</a></span>
    <span style="padding: 5px 10px 5px 10px">
        <a id="login-username"
           href="/user/login#tologin">请登录</a>
        <a id="register-span" href="/user/register#toregister">免费注册</a>
    </span>

    <span style="padding: 0px 10px 5px 10px;float: right">
        <a href="#" onclick="showshoppingcart_searchCategoryRes()">我的购物车</a>&LT;&gt;
    </span>

    <span style="padding: 0px 10px 5px 10px;float: right">
        <a href="#" onclick="MyOrder_searchCategoryRes()">我的订单</a>
    </span>

    <span style="padding: 0px 10px 5px 10px;float: right"><a id="out" style="display:none " href="" onclick="logout()">退出</a>
    </span>
</nav>

<div style="max-height: 80px;min-height: 80px;overflow: hidden;display: flex">
    <div style="padding: auto">
        <a href="/">
            <img src="/static/images/yidianshoppingLogo.jpg"/>
        </a>
    </div>
    <div style="display: inline-flex;padding: 18px 0 10px 30px;overflow: hidden">
        <input id="input-search" class="" type="text" placeholder="输入商品名称搜索商品" autocomplete="off"
               style="width: 240px;height:30px">
        <input id="search-btn" type="button" class="searchbtn" style="font-size: 18px;height:30px" value="搜索"/>
    </div>
</div>


<div class="header-wrap">
    <div class="navwrap">
        <!--<div id="nav">-->
        <!--<div class="navbar clearfix">-->
        <!--&lt;!&ndash;<a class="navbt" href="#"><span></span></a>&ndash;&gt;-->
        <!--<a href="#dianqi">电器</a>-->
        <!--<a href="#fuzhuang">服装</a>-->
        <!--<a href="#shipinyinliao">食品饮料</a>-->
        <!--<a href="#xiexue">鞋靴</a>-->
        <!--<a href="#shoujishuma">手机数码</a>-->
        <!--&lt;!&ndash;<a href="#">&#45;&#45;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&#45;&#45;</a>&ndash;&gt;-->
        <!--<input id="input-search" class="" type="text" placeholder="输入商品名称搜索商品" autocomplete="off"-->
        <!--style="width: 240px;height:30px">-->
        <!--<button id="search-btn" class="layui-icon layui-icon-search" style="font-size: 26px; color: #1e9fff;"></button>-->
        <!--<div class="pros subpage">-->
        <!--<h2><i class="layui-icon layui-icon-more-vertical" style="font-size: 18px; color: #fff5fa;"></i>-->
        <!--全部分类</h2>-->
        <!--<ul class="prosul clearfix" id="proinfo">-->

        <!--<li class="goods bd-solid">-->
        <!--<i>&gt;</i>-->
        <!--<a class="ti" href="#">商品</a>-->

        <!--<div class="prosmore hide">-->
        <!--<span><em><a href="/page/s_by_cat/全部">全部</a> </em></span>-->
        <!--<span><em class="morehot"><a class="morehot"-->
        <!--href="/page/s_by_cat/服装">服装</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/生活家居">生活家居</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/食品饮料">食品饮料</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/化妆品">化妆品</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/箱包">箱包</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/电器">电器</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/手机数码">手机数码</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/鞋靴">鞋靴</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/饰品">饰品</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/手表">手表</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/母婴用品">母婴用品</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/玩具">玩具</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/礼品">礼品</a> </em></span>-->
        <!--<span><em><a href="/page/s_by_cat/其他">其他</a> </em></span>-->
        <!--</div>-->
        <!--</li>-->

        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="htmleaf-container" id="container" style="padding-top: 30px ;overflow: inherit">

    </div>
</div>
</div>
<!---->
<input type="hidden" id="c" th:value="${c}">
</body>

</html>